#file-uploader { margin: 0 auto; }

.add-file-btn {
    background: #7b7b7b;
    border-radius: 30px;
    padding: 8px 15px 10px 15px;
    text-align: center;
    border: 0px #7b7b7b solid;
    color: white;
    font-weight: 900;
    font-size: 24px;
    line-height: 16px;
}

.file-preview-button {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.file-preview-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    cursor: pointer;
}

.file-preview-table {
    width: 100%;
    margin-top: 20px;
}

.file-preview-table tr {
    border-top: 1px solid #eee;
}

.file-preview-table .file-preview-placeholder {
    width:  140px;
    height: 100px;
}
.file-preview-table .file-preview-placeholder.video            { background-image: url('../pics/video.png');       }
.file-preview-table .file-preview-placeholder.audio            { background-image: url('../pics/audio.png');       }
.file-preview-table .file-preview-placeholder.pdf              { background-image: url('../pics/pdf.png');         }
.file-preview-table .file-preview-placeholder.spreadsheet      { background-image: url('../pics/spreadsheet.png'); }
.file-preview-table .file-preview-placeholder.powerpoint       { background-image: url('../pics/powerpoint.png');  }
.file-preview-table .file-preview-placeholder.document         { background-image: url('../pics/document.png');    }
.file-preview-table .file-preview-placeholder.zip              { background-image: url('../pics/zip.png');         }
.file-preview-table .file-preview-placeholder.rar              { background-image: url('../pics/rar.png');         }
.file-preview-table .file-preview-placeholder.default-filetype { background-image: url('../pics/default.png');     }
.file-preview-table .file-preview-placeholder.image            {
    object-fit: scale-down;
    object-position: center;
}

.file-preview-table .filename {
    word-wrap: break-word;
    text-align: center;
}

.file-preview-table td {
    padding: 4px 6px;
}

.no-show {
    display: none;
}

#file-preview-loading {
    width: 42px; /* previously -> width = 30px (outer div) + 2*2px (border) */
    height: 42px;
    margin: 0 auto;
}

.ball-clip-rotate-pulse > div:first-child {
    background: #337ab7;
    /* override bootstrap */
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}

.ball-clip-rotate-pulse > div:last-child {
    border-color: #337ab7 transparent;
    /* override bootstrap */
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
